<div class="products">
  <h2>Products List</h2>
  <div class="products-list">

    @if (isLoading) {
      <div class="loading">Loading...</div>
    }
    @else {
      @for (product of displayedProducts; track product.id) {
        <div class="product">
          <img ngSrc="{{ product.imagePath }}"
               width="400"
               [height]="product.calculatedHeight!"
               style="object-fit: cover"
               priority="priority"
               alt="An image for the product {{ product.title }}">
          <h3>{{ product.title }}</h3>
          <div>{{ product.category }}</div>
          <p>
            <strong>Price: $</strong>{{ product.price }}
          </p>
          <p>
            <strong>Stock: $</strong>{{ product.stock }} units
          </p>
        </div>
      }
    }
  </div>
</div>
