<link rel="preconnect" href="https://cdn.dummyjson.com">
<div class="products">
  <h2>Products List</h2>
  <div class="products-list">

    <div class="totalProducts">
      Total Products: {{ getAvailableProductsCount() }}
    </div>

    @if (isLoading) {
      <div class="loading">Loading...</div>
    } @else {

      @if (getAvailableProductsCount() == 0) {
        <div>
          No products Available
        </div>
      } @else {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          @for (product of displayedProducts; track product.id) {
            <div class="col">
              <div class="card h-100 shadow-sm">
                <img ngSrc="{{ product.images[0]! }}"
                     [width]="DEFAULT_WIDTH"
                     [height]="product.calculatedHeight"
                     priority="priority"
                     alt="An image for the product {{ product.title }}"
                     class="card-img-top">

                <div class="card-body">
                  <h5 class="card-title">{{ product.title }}</h5>

                  <p class="card-text">
                    {{ product.description }}
                  </p>

                  <span class="badge bg-secondary text-white">{{ product.category }}</span>

                  <p class="card-text">
                    <strong>Price:</strong> ${{ product.price }}
                  </p>

                  <p class="card-text">
                    <strong>Stock:</strong> {{ product.stock }} units
                  </p>

                  <p class="card-text">
                    <strong>Rating:</strong> {{ product.rating | rating }} ({{ product.rating }})
                  </p>

                  <button type="button" class="w-100 btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          }
        </div>
      }
    }

  </div>

  <i class="bi bi-star-fill text-warning"></i>
</div>
