<main class="bg-white py-5">
  <div class="container">
    @if (isTopImageLoaded) {
      <div style="display: flex; justify-content: center">
      <img ngSrc="{{ topImagePath }}"
           [width]="imageWidth"
           [height]="imageHeight"
           priority="priority"
           style="object-fit: cover"

           alt="An image that should be displayed on the top of the page"/>
      </div>
    }

    <app-products-filter></app-products-filter>
    <app-products></app-products>
  </div>
</main>


